
h3
  | Unmatched transfers: 
 

ul.nav.nav-pills
  li
    a href="/transfers/unmatched"
      | Unmatched
  li
    a href="/transfers/paired"
      | paired

- if defined?(results) && results
  table.table.table-condensed
    tr
      th
       = "Summary of #{results.count} Transfers:"
      th
        = results.map{|t|t.amount}.inject(1, &:+).to_usd
      th
      
      th
    - results.each do |r|
      tr
        td
          a href="/transaction/#{r.lookup_key}"
            = r.date_str
        td
          = r.amount_str
          a href="/repl/amounts #{r.amount_str}"
            | 🔍
        td
          = r.description
        td
          = r[:account_sym]

